.product_container {
    width: 40%;
    height: 480px;
    padding: 10px;
    border: 1px solid #374f74;
    box-shadow: 0px 0px 5px 5px #374f74;
    float: left;
    margin: 3% 0 3% 3%;
    background-color: #fff;
    
}

.product_description {
    overflow-y: scroll;
    height: 200px;
    margin-bottom: 15px;
}

button {
    padding: 10px;
    background-color: #374f74;
    color: #fff;
    font-weight: bolder;
    cursor: pointer;
    box-shadow: 0px 5px 0px 3px #ff4f1f;
    border-radius: 50px;
}

.green {
    color: green;
    font-size: 20px;
    font-weight: bold;
}

.black {
    color: black;
}

.violet {
    color: violet;
    font-size: 20px;
    font-weight: bold;
}

button:hover {
    background-color: #ff4f1f;
    box-shadow: 0px 5px 0px 3px #374f74;
}

h3 {
    text-decoration: underline;
}