.btn {
    border: 1px solid #ff4f1f;
}

.example-form {
    min-width: 150px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}


:host >>> mat-form-field .mdc-text-field--filled,
:host >>> mat-form-field .mdc-text-field--filled:hover,
:host >>> mat-form-field .mdc-text-field--filled:focus {
    background-color: transparent !important;
}

.button {
    width: 100%;
    padding: 10px;
    cursor: pointer;
}

.modal-header {
    background-color: #374f74;
    color: #fff;
}

.btn_close_modal {
    background: transparent;
    border: none;
    color: #fff;
    font-size: 25px;
}

.btn_close_modal:hover {
    transform: scale(1.3);
}

/* mat-card {
    max-width: 500px;
} */

mat-card-title {
    font-weight: bold;
}

:host >>> .mat_close_icon {
    margin-top: -4px !important;
    font-weight: bolder !important;
    margin-left: -6px !important;
    color: #fff !important;
    font-size: 20px !important;
}

mat-card {
    width: 400px;
}

.fa-eye {
    position: absolute;
    right: 7%;
    cursor: pointer;
}
