<mat-card >
    <mat-card-header class="modal-header" style="padding: 20px;">
    <!-- <div > -->
        <mat-card-title>User Registration Form</mat-card-title>
        <!-- <h4 class="modal-title pull-left">User Registration Form</h4> -->
        <button type="button" class="close btn_close_modal pull-right" aria-label="Close" mat-dialog-close>
            X
        </button>
    <!-- </div> -->
</mat-card-header>
    <mat-card-content class="modal-body" style="padding: 20px;">

        <form class="example-form conect_form_height" [formGroup]="userRegistrationForm" >
            <mat-form-field class="example-full-width">
                <mat-label>Name</mat-label>
                <input name="userName" formControlName="userName" matInput autocomplete="off" required>
                <mat-error *ngIf="userRegistrationForm.controls['userName'].hasError('required')">Name is
                    <strong>required</strong></mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Email</mat-label>
                <input name="email" formControlName="email" matInput autocomplete="off" required>
                <mat-error *ngIf="userRegistrationForm.controls['email'].hasError('required')">Email is
                    <strong>required</strong></mat-error>
                <mat-error
                    *ngIf="userRegistrationForm.controls['email'].hasError('email') && !userRegistrationForm.controls['email'].hasError('required')">
                    Please enter a valid Email address</mat-error>
            </mat-form-field>

            <mat-form-field style="width: 100%;" appearance="fill">
                <mat-label>Genesys Platform</mat-label>
                <mat-select formControlName="genPlatform" name="genPlatform">
                    <mat-option *ngFor="let genPlatform of genesysPlatformsList" [value]="genPlatform">
                        {{genPlatform}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="userRegistrationForm.controls['genPlatform'].hasError('required')">Genesys Platform is
                    <strong>required</strong></mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Department</mat-label>
                <mat-select formControlName="department" name="department">
                    <mat-option *ngFor="let department of listOfDepartments" [value]="department">
                        {{department}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="userRegistrationForm.controls['department'].hasError('required')">Department is
                    <strong>required</strong></mat-error>
            </mat-form-field>
           
            <mat-form-field appearance="fill" style="float: right;">
                <mat-label>Contribution Type</mat-label>
                <mat-select formControlName="contributionSelection" name="department">
                    <mat-option *ngFor="let contributionType of contributionList" [value]="contributionType['value']">
                        {{contributionType['key']}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="userRegistrationForm.controls['department'].hasError('required')">Contribution Type is
                    <strong>required</strong></mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill" *ngIf="userRegistrationForm.controls['department'].value === 'Others'">
                <mat-label>Enter the department</mat-label>
                <input name="otherDepartmentName" formControlName="otherDepartmentName" matInput autocomplete="off">
                <mat-error *ngIf="userRegistrationForm.controls['otherDepartmentName'].hasError('required')">Department name is
                    <strong>required</strong></mat-error>
            </mat-form-field>

            <ng-container *ngIf="userRegistrationForm.controls['contributionSelection'].value === 'Connect'">
                <mat-form-field appearance="fill" class="example-form-field" style="width: 100%; margin-top: 10px;">
                    <mat-label>Skill Set</mat-label>
                    <mat-chip-grid #chipGrid aria-label="Enter keywords" formControlName="skillSetForConnect">
                        <mat-chip-row *ngFor="let keyword of userRegistrationForm.controls['skillSetForConnect'].value"
                            (removed)="removeKeyword(keyword, 'skillSetForConnect')">
                            {{keyword}}
                            <button matChipRemove aria-label="'remove ' + keyword">
                                <mat-icon class="mat_close_icon">x</mat-icon>
                            </button>
                        </mat-chip-row>
                    </mat-chip-grid>
                    <input placeholder="Press enter after typing the value" [matChipInputFor]="chipGrid" (matChipInputTokenEnd)="add($event, 'skillSetForConnect')"
                        autocomplete="off" />
                        <mat-error *ngIf="userRegistrationForm.controls['skillSetForConnect'].hasError('required')">Skill set is
                            <strong>required</strong></mat-error>
                </mat-form-field>
            </ng-container>

            <ng-container *ngIf="userRegistrationForm.controls['contributionSelection'].value === 'Collaborate'">
                <mat-form-field appearance="fill" class="example-form-field" style="width: 100%; margin-top: 10px;">
                    <mat-label>Required Skill Set</mat-label>
                    <mat-chip-grid #chipGrid aria-label="Enter keywords" formControlName="skillSetForCollaborate">
                        <mat-chip-row *ngFor="let keyword of userRegistrationForm.controls['skillSetForCollaborate'].value"
                            (removed)="removeKeyword(keyword, 'skillSetForCollaborate')">
                            {{keyword}}
                            <button matChipRemove aria-label="'remove ' + keyword">
                                <mat-icon class="mat_close_icon">x</mat-icon>
                            </button>
                        </mat-chip-row>
                    </mat-chip-grid>
                    <input placeholder="Press enter after typing the value" [matChipInputFor]="chipGrid" (matChipInputTokenEnd)="add($event, 'skillSetForCollaborate')"
                        autocomplete="off" />
                        <mat-error *ngIf="userRegistrationForm.controls['skillSetForCollaborate'].hasError('required')">Skill set is
                            <strong>required</strong></mat-error>
                </mat-form-field>
            </ng-container>
            <!-- <div style="margin-top: 35px">
                <button [ngStyle]="{'opacity': !userRegistrationForm.valid ? '0.5' : '1'}"
                    class="button" [disabled]="!userRegistrationForm.valid" (click)="onClickSubmit()">Submit</button>
            </div> -->
        </form>
    </mat-card-content>
    <mat-card-actions>
        <button [ngStyle]="{'opacity': !userRegistrationForm.valid ? '0.5' : '1'}"
                    class="button" [disabled]="!userRegistrationForm.valid" (click)="onClickSubmit()">Submit</button>
    </mat-card-actions>
</mat-card>
