<!-- <h1 >Genesys India Hackathon 2023</h1> -->
<div class="parallax_one"></div>
<div class="parallax_two"></div>

<section class="home_container">

  <!-- <h4 class="align_text">Get set to hack your way to Glory with your fellow <em>Genesysians !!!</em></h4> -->

  <div style="text-align: center; margin-top: 30px;">
    <!-- <img class="banner" src="../../../assets/images/banner_img.png" alt=""> -->

    <ngb-carousel>
      <ng-template ngbSlide>
        <div class="wrapper">
          <img src="../../../assets/images/connect_new.png" alt="Random first slide">
        </div>

      </ng-template>
      <ng-template ngbSlide>
        <div class="wrapper">
          <img src="../../../assets/images/collaborate_new.png" alt="Random second slide">
        </div>
      </ng-template>

      <ng-template ngbSlide>
        <div class="wrapper">
          <img src="../../../assets/images/create_new.png" alt="Random third slide">
        </div>
      </ng-template>

      <ng-template ngbSlide>
        <div class="wrapper">
          <img src="../../../assets/images/conquer_new.png" alt="Random third slide">
        </div>

      </ng-template>
    </ngb-carousel>

  </div>

  <!-- <app-array-iterator [listOfObjectives]="listOfObjectives"></app-array-iterator> -->


  <p>Genesys India Innovation Portal is a dynamic platform that fosters innovation and creativity among employees. The
    portal offers a comprehensive approach to inspire and enable innovation across the organisation. The portal serves
    as the central hub where employees can find the announcements about the innovation events, providing employees with
    a holistic view of the ongoing innovation initiatives within Genesys India. It serves as a one-stop destination for
    employees to stay updated and engaged with the latest innovation activities.</p>

  <p>The Videos tab is a treasure trove of learning resources. With an event dropdown, employees can easily access
    videos related to specific innovation events. These videos serve as valuable knowledge assets, enabling employees to
    learn from industry experts, gain insights, and enhance their skills. The Videos section empowers employees to
    upskill and stay updated with the latest trends and technologies.</p>

  <p>The Registration section of the portal provides a seamless process for employees to register for various innovation
    events. Employees can easily browse through the available events, select the ones that align with their interests
    and skillsets, and register for participation. This section streamlines the registration process, making it
    convenient for employees to express their interest in various innovation initiatives.</p>

  <p>The FAQs section of the portal addresses common questions that employees may have about the innovation events. It
    provides a repository of frequently asked questions, clarifying doubts and providing relevant information. This
    section acts as a quick reference for employees, ensuring that they have all the necessary information to actively
    participate in the innovation events.</p>

  <p>The Genesys India Innovation Portal is a comprehensive platform that promotes innovation and
    collaboration among employees. The portal offers a holistic approach towards fostering innovation across the
    organisation. It enables employees to access information, learn from videos, register for events, and find answers
    to their queries, thereby empowering them to actively participate in the innovation journey of Genesys India.</p>

  <!-- <p>Admins can view the nominations by<button (click)="onClickAdminBtn(modalTemplate)" class="admin_btn">clicking
      here</button></p> -->


</section>

<ng-template #modalTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Verification Form</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      X
    </button>
  </div>
  <div class="modal-body" style="margin: 0;">
    <h6 style="color: red;" *ngIf="errorMessage">{{errorMessage}}</h6>
    <input class="form_input" type="text" name="userName" id="userName" placeholder="Please enter User Name"
      [(ngModel)]="userName" autocomplete="off">
    <input class="form_input" type="password" name="password" id="password" [(ngModel)]="password"
      placeholder="Please enter Password" autocomplete="off">
  </div>
  <div class="modal-footer">
    <button type="button" [ngClass]="{'disabled_state': !userName || !password}" [disabled]="!userName || !password"
      (click)="onClickSubmit()">Submit</button>
  </div>
</ng-template>