<!-- <h1 >Genesys India Hackathon 2023</h1> -->
<div class="parallax_one"></div>
<div class="parallax_two"></div>

<section class="home_container">

  <h4 class="align_text">Get set to hack your way to Glory with your fellow <em>Genesysians !!!</em></h4>

  <div style="text-align: center; margin-top: 30px;">
    <!-- <img class="banner" src="../../../assets/images/banner_img.png" alt=""> -->

    <ngb-carousel>
      <ng-template ngbSlide>
        <div class="wrapper">
          <img src="../../../assets/images/connect_new.png" alt="Random first slide">
        </div>

      </ng-template>
      <ng-template ngbSlide>
        <div class="wrapper">
          <img src="../../../assets/images/collaborate_new.png" alt="Random second slide">
        </div>
      </ng-template>

      <ng-template ngbSlide>
        <div class="wrapper">
          <img src="../../../assets/images/create_new.png" alt="Random third slide">
        </div>
      </ng-template>

      <ng-template ngbSlide>
        <div class="wrapper">
          <img src="../../../assets/images/conquer_new.png" alt="Random third slide">
        </div>

      </ng-template>
    </ngb-carousel>

  </div>


  <p>The Genesys India Hackathon 2023 is an exciting initiative aimed at enabling all Genesys India employees to align
    themselves with the organization's strategy by exploring the capabilities of the Genesys Cloud product. The
    hackathon's main purpose is to foster collaboration among cross-functional teams and create an atmosphere of
    innovation and creativity. The caption "Connect", "Collaborate", "Create", and "Conquer" emphasizes the portal's
    purpose of facilitating connections and collaborations among employees and empowering them to create innovative
    solutions.</p>

  <p>The hackathon's portal provides employees with a platform to connect and collaborate with one another. Individuals
    interested in connecting can enroll themselves by mentioning their skill set or domain knowledge, while teams
    seeking
    specific skill sets can enroll about their teams and the skill sets they are looking for. This platform empowers
    employees to collaborate and share ideas with individuals from different functional units, thereby gaining new
    perspectives and insights.</p>

  <p>In addition to the collaboration platform, the key highlight of the hackathon is the series of enablement workshops
    on various topics related to the Genesys Cloud products. These workshops are designed to provide employees with the
    basic knowledge and skills about the Genesys Cloud product and from there on we can explore further and create
    innovative solutions. The recorded workshop videos are also made available to all employees under the Workshops
    section for reference and learning purposes.</p>

  <p>The Genesys India Hackathon 2023 is an excellent opportunity for all employees to come together and collaborate
    towards achieving the organization's goals. By connecting and collaborating with one another, employees can leverage
    their skills and domain knowledge to create innovative solutions that can help the organization conquer new heights.
    The hackathon's success will depend on the active participation of all employees, as together, they can achieve more
    and create a better future for themselves and the organization.</p>

  <p style="margin-top: 20px;">The Genesys India Hackathon is here. It is time to display your innovative mindset with
    pride.

    <!-- <ul>
    <li *ngFor="let value of listOfObjectives"><span appHighLighter>{{value.key}} </span>{{value.info}}</li>
  </ul> -->




    <app-array-iterator [listOfObjectives]="listOfObjectives"></app-array-iterator>


  <p>This <i>Hackathon</i> is open to all Genesys India employees. The main objective of this hackathon is to enable our
    Genesys India to understand about <b>Genesys Cloud Products</b> aligning with the organization stratergies</p>

  <p>As part of this Hackathon the committee has decided to conduct series of workshops which will introduce all the
    employess to various Genesys Cloud Products</p>

  <p>The Genesys India Hackathon enablement sessions will start before end of February </p>


  <!-- <ul>
  <li *ngFor="let value of listOfNumbers">{{value | currencyValue:'IN'}}</li>
</ul>



<ul>
  <li *ngFor="let value of listOfNumbers">{{value | currencyValue:'US'}}</li>
</ul> -->

</section>

