<div class="faqs_container" *ngIf="canLoadContent">

    <mat-form-field appearance="fill" style="width: 25%;">
        <mat-label>Event Name</mat-label>
        <mat-select [(ngModel)]="selectedEventName">
            <mat-option *ngFor="let eventName of faqLables" [value]="eventName" >
                {{eventName}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <ng-container *ngFor="let faq of faqData[selectedEventName]; let i = index">
        <h5 style="margin-top: 10px;">{{i + 1}}. {{faq.question}}</h5>
        <p style="margin-bottom: 0;">{{faq.answer}} <a class="anchor_tag" [href]="faq.path" *ngIf="faq.type === 'link'">clicking here</a></p>
        <ng-container *ngIf="faq.type === 'array'">
            <ul style="margin-left: 15px;">
                <li *ngFor="let data of faq.listOfDatas">
                    {{data.criteria}}
                    <ng-container *ngIf="data.subCatergories">
                        <ol style="margin-left: 15px;">
                            <li *ngFor="let subCat of data.subCatergories">
                                {{subCat}}
                            </li>
                        </ol>
                    </ng-container>
                </li>
            </ul>
        </ng-container>
    </ng-container>

</div>


<mat-card *ngIf="successOrErrorMessage" class="mat_error_card">
    <mat-card-content>
        <span>{{successOrErrorMessage}}</span>
    </mat-card-content>
</mat-card>

<div class="mat_card" *ngIf="!canLoadContent">
    <mat-spinner aria-label="Please wait..." style="margin: 0 0 0 25px;"></mat-spinner>
    <h3 style="margin-top: 20px; color: #fff;">Please wait...</h3>
</div>