<div class="faqs_container">

    <h5>1. What is Genesys India Hackathon 2023?</h5>
    <p>The main purpose of Genesys India Hackathon 2023 is to foster collaboration among cross-functional teams
        and create an atmosphere of innovation and creativity. The theme "Connect", "Collaborate", "Create", and
        "Conquer" emphasize to create connections and collaborations among employees and empowering them to create innovative solutions.</p>

    <h5>2. What will be the topic of this Genesys India Hackathon 2023?</h5>
    <p>Any idea aligned to Genesys Stratergy. But specific topics will be revealed before end of March 2023.</p>

    <h5>3. When will Genesys India Hackathon 2023 be conducted?</h5>
    <p>It is planned to be conducted on May 2023. Exact date will be announced soon.</p>

    <h5>4. How many people can be in a team?</h5>
    <p>Teams can have two to five members.</p>

    <h5>5. Can I join more than one team?</h5>
    <p>You can join only one team. Try to focus your attention on one idea for Genesys India Hackathon 2023.</p>

    <h5>6. Whom should I contact in case of a query?</h5>
    <p> Write to <strong>HackathonIndia@genesys.com</strong></p>

</div>