<mat-card>
    <mat-card-header class="modal-header" style="padding: 20px;">
        <mat-card-title>Confirm Delete</mat-card-title>
        <!-- <button type="button" class="close btn_close_modal pull-right" aria-label="Close" mat-dialog-close>
            X
        </button> -->
    </mat-card-header>
    <mat-card-content class="modal-body" style="padding: 10px;">
        <p style="margin: 25px 0 0 0 ;">Are you sure you want to delete the entry?</p>
    </mat-card-content>
    <mat-card-actions style="padding-top: 30px;">
        <div style="margin-left: 25%;">
            <button class="button btn_close" mat-dialog-close="cancel">Cancel</button>

            <button class="button" mat-dialog-close="ok">OK</button>
        </div>
    </mat-card-actions>
</mat-card>